@import url('https://fonts.googleapis.com/css2?family=Bellota:wght@400;700&display=swap');


* {
    font-family: 'Bellota', cursive;
}


body {
    
    text-align: center;
    padding: 1% 0 0 0;
    width: 100%;
    height: 100vh;
    border-top: 5rem solid rgba(192,57,43,1);
}


.arena {
    padding: 3%;
    text-align: center;
    transition: .5s ease-in-out;
}

.left, .right {
    display:inline-flex;
    width: 30%;
    text-align: center;
    border-top: 1px solid rgba(192,57,43,1);
    padding: 1%;
    transition: .5s ease-in-out;
}

.left {
    border-right: 1px solid rgba(192,57,43,1);
    border-top-right-radius: 1em;
}


.right {
    border-left: 1px solid rgba(192,57,43,1);
    border-top-left-radius: 1em;
}

#playButton {
    padding: 1.5%;
    background: rgba(192,57,43,1);
    width: 20%;
    color: white;
    outline: none;
    border: none;
    transition: .5s ease-in-out;
}




@media screen and (max-width: 720px) {

    body {
        height: 100vh;
    }


    .arena {
        padding: 1%;
    }
    
    .left, .right {
        display:inline-flex;
        width: 45%;
        border-top: 1px solid rgba(192,57,43,1);
    }

    .left img, .right img {
        width: 50%;
    }
    
    .left {
        border-right: 1px solid rgba(192,57,43,1);
        border-top-right-radius: 1em;
    }
    
    
    .right {
        border-left: 1px solid rgba(192,57,43,1);
        border-top-left-radius: 1em;
    }
    
    #playButton {
        margin-top: 10%;
        padding: 3%;
        background: rgba(192,57,43,1);
        width: 40%;
    }
    

    
}